<% content_for :head do %>
  <title><%= @item.title %> - monolist</title>
  <meta name="description" content="<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。">
  <meta name="keywords" content="monolist,<%= @item.title %>">
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          
          <% # 商品イメージ %>
          <% if @item.large_image.present? %>
            <%= image_tag(@item.large_image , alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>

        </div>
      </div>
      <div class="title">
        
        <% # 商品タイトル %>
        <%= @item.title %>

      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          
        <% # Haveしたユーザー一覧 %>
        <% # var1 は、`do` から `end` までの間で使う変数 %>
        <% @item.have_users.each do |var1|  %>
          <%= link_to gravatar_for(var1, :size => 25),user_path(var1) %>
        <% end %>

        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          
        <% # Wantしたユーザー一覧 %>
        <% # var2 は、`do` から `end` までの間で使う変数 %>
        <% @item.want_users.each do |var2|  %>
          <%= link_to gravatar_for(var2, :size => 25), user_path(var2) %>
        <% end %>
        
        </div>
      </div>
      
      <div class="text-center">
        <% # Amazon詳細ページへのリンク %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url, :target => '_blank') %>
      </div>
    </div>
  </div>
</div>
